html {
    font-size: 20px;
    font-family: sans-serif;

    background-image: url('photo_2023-10-14_19-18-53.jpg');
    background-size: cover;

    text-shadow: 2px 2px 5px aliceblue;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1280px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1280px;

    backdrop-filter: blur(15px);
}

.biography_element {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
    margin: 5px;
    border: 2px solid dodgerblue;
    border-radius: 10px;
}

.biography_element > h2 {
    margin-bottom: 0;
}

.socials_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
}

a:visited {
    color: blue;
}

@media screen and (min-width: 1280px) {
    .wrapper {
        width:1280px;
        margin: 0 1%;
    }
}

@media screen and (max-width: 1280px) {
    .wrapper {
        max-width: 1024px;
        margin: auto 0;
    }
}

@media screen and (max-width: 1024px) {
    .wrapper {
        max-width: 768px;
        margin: auto 0;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        max-width: 100%;
        margin: auto 0;
    }
}

@media screen and (max-width: 560px) {

}